*:root {
    --white-color: #fff !important;
    --black-color: #000 !important;
    --text-color: #333 !important;
}

* {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.font-12{
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
    opacity: 0.8;
}

.font-14{
    font-size: 14px;
    line-height: 24px;
}

.font-18{
    font-size: 18px;
    line-height: 32px;
}

.font-32{
    font-size: 32px;
    line-height: 48px;
}

.w-50{
    width: 50% !important;
}

.w-100{
    width: 100% !important;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.float{
    float: left;
}

.m-135{
    margin-left: 135px;
    margin-right: 135px;
}

.m-16{
    margin-left: 16px;
    margin-right: 16px;
}

.m-23{
    margin-left: 23px;
    margin-right: 23px;
}

#wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    height: 705px;
    width: 100%;
    background-image: url(/assets/images/Backgrounds/Angled1.png);
    background-repeat: no-repeat;
    /* background: linear-gradient(357deg,rgba(255, 255, 255, 1) 45%,rgba(27, 225, 175, 1) 46%); */
}

.header__navbar{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header__navbar-icon{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius:25px;
    margin-left: 61px;
}

.header__navbar-img{
    width: 100%;
}

.nav-icon > .fa-cube{
    font-size: 30px;
}

.header__navbar-list{
    list-style: none;
    margin-left: 175px;
    margin-right: 189px;
}

.header__navbar-item{
    display: inline-flex;
    margin: 4px 20px;
    justify-content: center;
    align-items: center;
}

.header-icon-home {
    font-size: 20px;
    margin-right: 10px;
    filter: brightness(0.4);
}

.header__navbar-item:hover >.header-icon-home {
    filter: none;
}

.header-icon {
    margin-right: 10px;
}

.header__navbar-item-link{
    color:#858585;
    text-decoration: none;
}

.header__navbar-item:hover {
    cursor: pointer;
}

.header__navbar-item:hover > .header__navbar-item-link{
    color: var(--white-color);
}

.header__navbar-item:hover > .header-icon{
    filter: brightness(0) invert(1);
}

.login-btn{
    display: flex;
    color: rgba(124, 77, 255, 1);
    width: 130px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid #fff;
    align-items: center;
    font-size: initial;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 33%);
    cursor: pointer;
    font-weight: 600;
    padding-left: 16px;
}

.login-btn:hover {
    opacity: 0.6;
}

.login-img {
    image-rendering: pixelated;
    padding-left: 22px;
}

img.header__subnav-img {
    width: 208%;
    margin-top: -34px;
    margin-left: -24px;
}

.subnav{
    max-width: 100%;
    margin-top: 74px;
}

.subnav-content{
    padding-left: 120px;
    float: left;
}

.subnav-title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}

.subnav-detail {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 110px;
    margin-bottom: 25px;
}

.col-6{
    width: 329px;
    height: 64px;
    text-align: center;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(/assets/images/Messages/mail-form.png);
    background-repeat: no-repeat;
    background-position: 5px;
    border-radius: 5px;
}

.col-6::placeholder {
    color: #7C4DFF;
}

.subscribe-btn{
    width: 136px;
    height: 64px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(124, 77, 255, 1);
    color: var(--white-color);
    cursor: pointer;
}

.subscribe-btn:hover {
    opacity: 0.6;
}

.content{
    bottom: 32px;
    width: 100%;
    text-align: center;
}

.content-section{
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-content {
    width: 350px;
    display: grid;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 4px 6px rgb(216 216 216);
}

span.form-title {
    font-size: 24px;
    color: #000;
    line-height: 36px;
    text-align: left;
    font-weight: 600;
    margin-top: -17px;
    letter-spacing: -0.5px;
}

.form-detail {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-align: initial;
    margin-top: -4px;
    letter-spacing: 0.25px;
}

.form-input{
    display: grid;
    margin-top: 2px;
}

.form-name{
    background-image: url(/assets/images/user1.png);
    background-repeat: no-repeat;
    background-position: 274px;
    margin-bottom: 16px;
    border: 1px solid rgb(173 173 173 / 60%);
    border-radius: 5px;
    padding: 3px 16px;
    letter-spacing: -0.25px;
}

.form-email{
    background-repeat: no-repeat;
    background-image: url(/assets/images/at-sign.png);
    background-position: 274px;
    border: 1px solid rgb(173 173 173 / 60%);
    border-radius: 5px;
    padding: 3px 16px;
    letter-spacing: -0.25px;
}

.form-check{
    align-items: center;
    margin-top: 55px;
    margin-left: 24px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

label{
    font-size: 14px;
    line-height: 24px;
    text-align: initial;
    margin-left: 10px;
    letter-spacing: 0.25px;
}

.form-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    background: rgba(124, 77, 255, 1);
    color: #fff;
    border: 1px solid rgba(124, 77, 255, 1);
    border-radius: 5px;
    letter-spacing: -0.25px;
    padding: 5px;
    cursor: pointer;
    background-image: url(/assets/images/arrow\ right.png);
    background-repeat: no-repeat;
    background-position: 250px;
    font-weight: 600;
}

.form-btn:hover {
    opacity: 0.3;
    color: var(--black-color);
}

.getstar {
    width: 770px;
    margin-left: 50px;
}

.getstar-title{
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 8px;
    text-align: left;
    letter-spacing: -2.25px;
    margin-top: -17px;
    font-weight: 600;
}

.getstar-information{
    margin-top: 55px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px 45px ;
}

.detail-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.detail-thumb {
    text-align: initial;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: rgba(92, 92, 92, 1);
}

.getstar-subtitle {
    font-size: 32px;
    line-height: 48px;
    color: rgba(133, 133, 133, 1);
    text-align: left;
    letter-spacing: -1.25px;
    font-weight: 400;
}

.preview-section{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/images/Backgrounds/Angled.png);
    height: 1029px;
    height: 1029px;
}

.preview-content{
    justify-content: space-between;
    padding-top: 120px;
}

.preview-title {
    font-size: 64px;
    line-height: 75px;
    font-weight: 600;
}

.preview-sub-title {
    font-size: 32px;
    line-height: 48px;
    opacity: 0.6;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 500;
}

.apple-app {
    margin-right: 20px;
    cursor: pointer;
}

.web-app {
    cursor: pointer;
}

.apple-app:hover ,
.web-app:hover {
    opacity: 0.6;
}

.plan-section{
    background: rgba(245, 241, 255, 1);

}

.plan-content{
    padding-top: 80px;
}

.plan-heading{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
    text-align: left;
}

.plan-sub-heading{
    font-size: 32px;
    line-height: 48px;
    text-align: left;
    opacity: 0.6;
    font-weight: 400;
    margin-bottom: 40px;
}

.cards-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.plan-card{
    border: 1px solid #ADADAD;
    border-radius: 16px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.plan-card:hover{
    background-color: #7C4DFF;
}

.plan-card:hover > .card-level{
    color: #1BE1AF;
}

.plan-card:hover > .card-price, 
.plan-card:hover > .card-detail,
.plan-card:hover > .card-time {
    color: var(--white-color);
}

.plan-card:hover> .card-btn{
    color: #333333;
    background-color: var(--white-color);
    font-weight: 600;
}

.card-level {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}

.card-level:hover{
    color: rgba(27, 225, 175, 1);
}

.card-price { 
    margin-bottom: 8px;
    font-weight: 500;
}

.card-time {
    margin-bottom: 20px;
}

.card-price-save {
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 8px;
    color: rgba(27, 225, 175, 1);
}

.card-detail {
    margin-bottom: 40px;
}

.card-btn {
    width: 83%;
    margin-bottom: 24px;
    text-align: center;
    padding: 10px 0px;
    color: var(--white-color);
    background-color: #858585;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    height: 450px;
    width: 100%;
    background: linear-gradient(178deg,rgba(245, 241, 255, 1) 10%,rgba(27, 225, 175, 1) 11%);
}

.contact-info{
    text-align: left;
}

.contact-title{
    padding-top: 120px;
}

.social-section{
    margin-top: 10px;
    margin-bottom: 36px;
}

.social-link{
    text-decoration: none;
}

.social-button{
    background-color: var(--white-color);
    border-radius: 20px;
    margin-right: 37px;
}

.social-button:hover {
    opacity: 0.6;
}

.about-us{
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 16px;
    margin-bottom: 80px;
}

.contanct-sub-title{
    margin-top: 44px;
    margin-bottom: 16px;
}

.col-7{
    width: 415px;
    height: 64px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding-left: 16px;
}

.contanct-address{
    color: rgba(124, 77, 255, 1);
}

.contact-more-detail{
    margin-top: 16px;
}

.contact-subscribe-btn{
    width: 170px;
    margin-left: -5px;
    border: none;
    border-radius: 5px;
    background: rgba(51, 51, 51, 1);
    color: var(--white-color);
    cursor: pointer;
}

.contact-subscribe-btn:hover {
    background-color: #7C4DFF;
    color: var(--black-color);
}

.about-us-link {
    color: #333333;
    text-decoration: none;
}

.about-us-link:hover {
    opacity: 0.6;
}

input:focus{
    outline: none;
    background: #f5f5f5;
}