.slack-img {
    filter: drop-shadow(0px 8px 8px rgba(55, 71, 79, 0.12)) drop-shadow(0px 16px 24px rgba(55, 71, 79, 0.08));
    width: 100%;
}

.emob-img {
    position: absolute;
    top: 17rem;
    left: 45rem;
    filter: drop-shadow(30px 13px 30px rgba(28, 65, 84, 0.1)) drop-shadow(70px 24px 70px rgba(28, 65, 84, 0.08)) drop-shadow(180px 90px 180px rgba(28, 65, 84, 0.08)) drop-shadow(219px 90px 210px rgba(28, 65, 84, 0.06));
}

.banner-section{
    padding-top: 7.4rem;
    position: absolute;
    top: 7.4rem;
    width: 144rem;
    padding-left: 13.5rem;
    padding-right: 13.5rem;
    max-width: 100%;
}

.banner-content{
    text-align: left;
    padding-left: 11rem;
}

.banner-title {
    font-size: 6.4rem;
    font-weight: 700;
    color: #fff;
    line-height: 7.5rem;
    letter-spacing: -0.225rem;
}

.banner-detail {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-top: 11rem;
    margin-bottom: 2.5rem;
    letter-spacing: -0.15rem;
    font-weight: 600;
}

form.form-subscribe {
    filter: drop-shadow(0px 8px 24px rgba(55, 71, 79, 0.1)) drop-shadow(0px 16px 32px rgba(55, 71, 79, 0.08));
}

.col-6{
    width: 32.9rem;
    height: 6.4rem;
    text-align: center;
    border: 0.1rem solid #fff;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(/assets/images/Messages/mail-form.png);
    background-repeat: no-repeat;
    background-position: 0.5rem;
    border-radius: 0.5rem;
}

.col-6::placeholder {
    color: #7C4DFF;
}

.subscribe-btn{
    width: 13.6rem;
    height: 6.4rem;
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    background-color: rgba(124, 77, 255, 1);
    color: var(--white-color);
    cursor: pointer;
    margin-left: -0.5rem;
}

.subscribe-btn:hover {
    opacity: 0.6;
}

/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .banner-section{
        flex-direction: column;
    }

    .banner-img{
        width: 100%;
    }

    .banner-content{
        width: 100%;
        padding: 0;
    }

    .banner-detail{
        margin-top: 1rem;
    }

    .col-6{
       width: 65%;
       height: 8.4rem;
    }

    .subscribe-btn{
        width: 35%;
        height: 8.4rem;
    }

    .emob-img{
        display: none;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
    .banner-section{
        flex-direction: column;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 3rem;
    }

    .banner-img{
        width: 95%;
        margin: 0 auto;
    }

    .banner-content{
        width: 100%;
        padding-left: 1.5rem;
        padding-top: 3rem;
    }

    .banner-detail {
        margin-top: 2rem;
    }

    .banner-title{
        font-size: 14vw;
        line-height: 15.5vw;
    }

    .emob-img{
        display: none;
    }

    .header-banner-img{
        width: 200%;
    }

    .emob-img{
        display: none;
    }

    .col-6{
        width: 65%;
        height: 8.4rem;
        font-size: 4vw;
        background-image: none;
    }
 
     .subscribe-btn{
        width: 35%;
        height: 8.4rem;
        font-size: 4vw;
    }
}
