.wrapper{
    width: 144rem;
    max-width: 100%;
    margin: 0 auto;
}

.footer{
    height: 45rem;
    width: 144rem;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(178deg,rgba(245, 241, 255, 1) 10%,rgba(27, 225, 175, 1) 11%);
    padding-left: 13.5rem;
    padding-right: 13.5rem;
}

.contact-info{
    text-align: left;
}

.contact-title{
    padding-top: 12rem;
}

.social-section{
    margin-top: 1rem;
    margin-bottom: 3.6rem;
    display: flex;
    list-style: none;
}

.social-link{
    text-decoration: none;
}

.social-button{
    background-color: var(--white-color);
    border-radius: 2rem;
    margin-right: 3.7rem;
}

.social-button:hover {
    opacity: 0.6;
}

.info{
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1.6rem;
    margin-bottom: 8rem;
    list-style: none;
}

.contanct-sub-title{
    margin-top: 4.4rem;
    margin-bottom: 1.6rem;
}

.col-7{
    width: 41.5rem;
    height: 6.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding-left: 1.6rem;
}

.contanct-address{
    color: rgba(124, 77, 255, 1);
    text-decoration: none;
}

.contact-more-detail{
    margin-top: 1.6rem;
}

.contact-subscribe-btn{
    width: 17rem;
    margin-left: -0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: rgba(51, 51, 51, 1);
    color: var(--white-color);
    cursor: pointer;
}

.contact-subscribe-btn:hover {
    background-color: #7C4DFF;
    color: var(--black-color);
}

.info-link {
    color: #333333;
    text-decoration: none;
}

.info-link:hover {
    opacity: 0.6;
}

input:focus{
    outline: none;
    background: #f5f5f5;
}
/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .footer {
        flex-direction: column;
        padding-top: 10rem;
        height:80rem;
    }

    .contact-info{
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 100%;
    }

    .contact-title{
        padding: 0;
    }

    .contact-more-detail{
        display: none;
    }

    .social-section{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        margin-top: 3rem;
    }

    .social-button{
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }

    .info{
        display: block;
        list-style: disc;
        width: 20rem;
    }

    .info-link{
        font-size: 2.4rem;
    }

    .info > li{
        padding: 1rem 0;
    }

    .contact-form{
        width: 100%;
    }

    .heading-info,
    .contact-title{
        font-size: 3rem;
    }



    .col-7{
        width: 80%;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding-top: 10rem;
        height:90rem;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-info{
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 100%;
    }

    .contact-title{
        padding: 0;
    }

    .contact-more-detail{
        display: none;
    }

    .social-section{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        margin-top: 2rem;
    }

    .social-button{
        width: 10vw;
        height: 10vw;
        border-radius: 5rem;
    }

    .info{
        display: block;
        list-style: disc;
        width: 70%;
    }

    .info-link{
        font-size: 4vw;
    }

    .info > li{
        padding: 1rem 0;
    }

    .contact-form{
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .heading-info,
    .contact-title{
        font-size: 5vw;
    }

    .col-7{
        width: 80%;
    }

    .follow-section {
        padding-left: 1rem;
    }
    
}