.getstart-section{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.form-start {
    width: 35rem;
    display: grid;
    border: 0.1rem solid rgba(255, 255, 255, 1);
    filter: drop-shadow(0rem 1.2rem 1.2rem rgba(28, 65, 84, 0.1)) drop-shadow(0rem 2.4rem 2.4rem rgba(28, 65, 84, 0.08)) drop-shadow(0rem 6.4rem 4.8rem rgba(28, 65, 84, 0.08)) drop-shadow(0rem 6.4rem 6.4rem rgba(28, 65, 84, 0.04));
    background-color: #fff;
}

.form-title {
    font-size: 2.4rem;
    color: #000;
    line-height: 3.6rem;
    text-align: left;
    font-weight: 600;
    margin-top: -1.7rem;
    letter-spacing: -0.05rem;
}

.form-detail {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #000;
    text-align: initial;
    margin-top: -0.4rem;
    letter-spacing: 0.025rem;
}

.form-input{
    display: grid;
    margin-top: 0.2rem;
}

.form-name{
    background-image: url(/assets/images/icon/user1.png);
    background-repeat: no-repeat;
    background-position: 27.4rem;
    margin-bottom: 1.6rem;
    border: 0.1rem solid rgb(173 173 173 / 60%);
    border-radius: 0.5rem;
    padding: 0.3rem 1.6rem;
    letter-spacing: -0.025rem;
}

.form-email{
    background-repeat: no-repeat;
    background-image: url(/assets/images/icon/at-sign.png);
    background-position: 27.4rem;
    border: 0.1rem solid rgb(173 173 173 / 60%);
    border-radius: 0.5rem;
    padding: 0.3rem 1.6rem;
    letter-spacing: -0.025rem;
}

.form-checkbox{
    align-items: center;
    margin-top: 5.5rem;
    margin-left: 2.4rem;
}

input[type="checkbox"] {
    width:2.5rem;
    height:2.5rem;
    cursor: pointer;
}

label{
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: initial;
    margin-left: 1rem;
    letter-spacing: 0.025rem;
}

.form-btn {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    background: rgba(124, 77, 255, 1);
    color: #fff;
    border: 0.1rem solid rgba(124, 77, 255, 1);
    border-radius: 0.5rem;
    letter-spacing: -0.025rem;
    padding: 0.5rem;
    cursor: pointer;
    background-image: url(/assets/images/icon/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 25rem;
    font-weight: 600;
}

.form-btn:hover {
    opacity: 0.3;
    color: var(--black-color);
}

.getstart-infomation {
    width: 77rem;
    margin-left: 5rem;
}

.getstart-title{
    font-size: 6.4rem;
    line-height: 7.5rem;
    margin-bottom: 0.8rem;
    text-align: left;
    letter-spacing: -0.225rem;
    margin-top: -1.7rem;
    font-weight: 600;
}

.getstart-list{
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.5rem 4.5rem ;
}

.detail-title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.6rem;
    letter-spacing: -0.05rem;
}

.detail-thumb {
    text-align: initial;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.025rem;
    color: rgba(92, 92, 92, 1);
}

.getstart-description {
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: rgba(133, 133, 133, 1);
    text-align: left;
    letter-spacing: -0.125rem;
    font-weight: 400;
}

/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .getstart-section{
        flex-direction: column;
        margin: 0 auto;
    }

    .form-start{
        margin: 0 auto;
        margin-bottom: 10rem;
    }

    .form-title{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-detail{
        margin-bottom: 2rem;
    }

    .form-name{
        background-image: none;
    }

    .form-email{
        background-image: none;
    }
    .getstart-infomation{
        margin: 0 auto;
    }

    .getstart-title{
        text-align: center;
    }

    .getstart-description{
        text-align: center;
    }

    .detail-title{
        text-align: center;
    }

    .detail-thumb{
        text-align: center;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
    .getstart-section{
        flex-direction: column;
        margin: 0 auto;
        padding-top: 10rem;
    }

    .detail-title{
        color: #674eee;
    }

    .form-start{
        margin: 0 auto;
        margin-bottom: 10rem;
        width: 85%;
    }

    .form-title{
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #67d652;
    }

    .form-detail{
        margin-bottom: 2rem;
    }

    .form-btn{
        background: rgb(98 224 90);
        border: 0.1rem solid rgb(98 224 90);
        color: rgba(124, 77, 255, 1);
        font-weight: 600;
    }

    .getstart-list{
        grid-template-columns: auto;
    }

    .getstart-infomation{
        margin: 0 auto;
        padding: 0 5rem;
        width: 100%;
    }

    .getstart-title{
        text-align: center;
        font-size: 14vw;
        line-height: 14vw;
    }

    .getstart-description{
        display: none;
    }
}