.header{
    height: 70.5rem;
    max-width: 144rem;
    margin: 0 auto;
    background-image: url(/assets/images/Backgrounds/Angled1.png);
    background-repeat: no-repeat;
    position: relative;
}

.header-navbar{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius:2.5rem;
}

.header-navbar-list{
    list-style: none;
}

.header-navbar-item{
    display: inline-flex;
    margin: 0.4rem 2rem;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.header-icon-home {
    font-size: 2rem;
    margin-right: 1rem;
    filter: brightness(0.4);
}

.header-navbar-item:hover >.header-icon-home {
    filter: none;
}

.header-icon {
    margin-right: 1rem;
}

.header-navbar-item-link{
    color:#858585;
    text-decoration: none;
}

.header-navbar-item:hover {
    opacity: 1;
    font-weight: 600;
    filter: brightness(0) invert(1) opacity(1);
}

.header-navbar-item:hover > .header-navbar-item-link{
    color: var(--white-color);
}

.header-navbar-img{
    width: 100%;
}

.login-btn{
    display: flex;
    color: rgba(124, 77, 255, 1);
    width: 13rem;
    height: 4.8rem;
    border-radius: 3rem;
    border: 0.1rem solid #fff;
    align-items: center;
    font-size: 1.8rem;
    background-color: #fff;
    filter: drop-shadow(0rem 0.2rem 0.4rem rgba(55, 71, 79, 0.16)) drop-shadow(0rem 0.4rem 0.8rem rgba(55, 71, 79, 0.08));
    cursor: pointer;
    font-weight: 700;
    padding-left: 1.6rem;
}

.login-btn:hover {
    opacity: 0.6;
}

.login-img {
    image-rendering: pixelated;
    padding-left: 2rem;
}

.logo-infomation{
    display: none;
}

.nav-btn {
    width: 2.8rem;
    opacity: 0.4;
    display: none;
}

.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 320px;
    max-width: 100%;
    z-index: 2;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav-mobile-list{
    margin-top: 6.4rem;
    margin-left: 10rem;
}

.nav-mobile-item-link{
    padding: 2rem 0;
    display: block;
    font-size: 2.4rem;
    color: #333;
}

.close-btn{
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.nav-btn{
    display: none;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 2rem;
}

.nav-input{
    display: none;
}

.nav-input:checked ~ .nav-overlay{
    display: block;
}

.nav-input:checked ~ .nav-mobile{
    transform: translateX(0);
    opacity: 1;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.9375em) {
    .header{
        background-size: 450%;
        height: 105rem;
    }
    
    .header-navbar{
        margin: 0 auto;
        justify-content: flex-start;
    }

    .logo{
        margin-left: 1.6rem;
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }

    .logo-infomation {
        padding-left: 1rem;
        display: block;
        font-size: 2.5rem;
    }

    .header-navbar-list{
        display: none;
    }

    .login-btn{
        display: none;
    }

    .nav-btn{
        display: block;
    }

}

/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 48em) and (max-width:64em) {
    .header{
        background-size: 345%;
        height: 110rem;
    }
}