.plan-section{
    background: rgba(245, 241, 255, 1);
    padding: 8rem 13.5rem;
}

.plan-heading{
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 1rem;
    text-align: left;
}

.plan-description{
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: left;
    opacity: 0.6;
    font-weight: 400;
    margin-bottom: 4rem;
}

.cards-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
}

.card-item1,
.card-item2,
.card-item3,
.card-item4{
    border-radius: 1.6rem;
    cursor: pointer;
    text-align: center;
}

.card-item1{
    border: 0.1rem solid #C2C2C2;
}

.card-item2{
    border: 0.1rem solid #ADADAD;
}

.card-item3{
    border: 0.1rem solid #8f8f8f;
}

.card-item4{
    background-color: #fff;
    filter: drop-shadow(0px 12px 12px rgba(28, 65, 84, 0.1)) drop-shadow(0px 2.4rem 2.4rem rgba(28, 65, 84, 0.08)) drop-shadow(0px 64px 4.8rem rgba(28, 65, 84, 0.08)) drop-shadow(0px 64px 64px rgba(28, 65, 84, 0.04));
}

.card-hover:hover{
    background-color: #7C4DFF;
}

.card-hover:hover > .card-level{
    color: #1BE1AF;
}

.card-hover:hover > .card-price, 
.card-hover:hover > .card-detail,
.card-hover:hover > .card-time {
    color: var(--white-color);
}

.card-hover:hover> .card-btn{
    color: #333333;
    background-color: var(--white-color);
    font-weight: 600;
}

.card-level {
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
}

.card-price { 
    margin-bottom: 0.8rem;
    font-weight: 500;
    color: #5C5C5C; 
}

.card-time {
    margin-bottom: 2rem;
    color:#5C5C5C;
}

.card-price-save {
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: rgba(27, 225, 175, 1);
}

.card-detail {
    margin-bottom: 4rem;
    color: #333333;
}

.card-btn {
    width: 83%;
    margin-bottom: 2.4rem;
    text-align: center;
    padding: 1rem 0rem;
    color: var(--white-color);
    background-color: #858585;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-item1 > .card-level{
    color: #C2C2C2;
}

.card-item2 > .card-level{
    color: #ADADAD;
}

.card-item3 > .card-level{
    color: #8f8f8f;
}

.card-item4 > .card-level{
    color: #000000;
}

.card-item4 > .card-price-save{
    color: #7C4DFF;
}

.card-item1 > .card-btn{
    background-color: #ADADAD;
}

.card-item2 > .card-btn{
    background-color: #858585;
}

.card-item3 > .card-btn{
    background-color: #706f6f;
}

.card-item4 > .card-btn{
    background-color: #5C5C5C;
}

/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .cards-list{
        grid-template-columns: auto auto;
    }
    
    .plan-heading{
        text-align: center;
    }

    .plan-description{
        text-align: center;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px){
    .cards-list{
        grid-template-columns: auto;
    }
    .plan-heading{
        text-align: center;
        padding-bottom: 2rem;
    }

    .plan-description{
        display: none;
    }

    .plan-section{
        padding: 0;
    }
}