.preview-section{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/images/Backgrounds/Angled.png);
    height: 102.9rem;
    padding-right: 13.5rem;
    padding-left: 13.5rem;
    padding-top: 12rem;
}

.preview-content{
    justify-content: space-between;
}

.preview-title {
    font-size: 6.4rem;
    line-height: 7.5rem;
    font-weight: 600;
}

.preview-description {
    font-size: 3.2rem;
    line-height: 4.8rem;
    opacity: 0.6;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.apple-app {
    margin-right: 2rem;
    cursor: pointer;
}

.web-app {
    cursor: pointer;
}

.apple-app:hover ,
.web-app:hover {
    opacity: 0.6;
}

button.app-btn {
    border: none;
}

.windown-img{
    width: 100%;
}

.title-dercition,
.title-guide{
    display: none;
}

/* tablet: width >= 768px  & Mobile: wisth < 1024px*/
@media only screen and (min-width: 48em) and (max-width:64em) {
    .preview-content{
        flex-direction: column;
    }

    .preview-section{
        padding-left: 0;
        padding-right: 0;
    }

    .preview-title{
        text-align: center;
        margin-bottom: 2rem;
    }

    .preview-description{
        text-align: center;
    }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 48em) {
    .preview-content{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .preview-section{
        padding-left: 0;
        padding-right: 0;
    }

    .preview-title{
        text-align: center;
        margin-bottom: 2rem;
        display: none;
    }

    .preview-description{
        display: none;
    }

    .app-btn{
        width: 100%;
    }

    .web-app,
    .apple-app {
        margin-right: 0;
        width: 100%;
        height: 7rem;
        margin-bottom: 3rem;
    }

    .title-dercition,
    .title-guide{
        display: block;
        font-size: 3rem;
        line-height: 4.5rem;
        width: 86%;
        margin-bottom: 3rem;
    }

    .title-dercition{
        color: #525eea;
    }
}